[submodule "UdacityProjects/CppND-Route-Planning-Project"]
	path = UdacityProjects/CppND-Route-Planning-Project
	url = https://github.com/Emad2018/CppND-Route-Planning-Project.git
[submodule "UdacityProjects/CppND-System-Monitor-Project-Updated"]
	path = UdacityProjects/CppND-System-Monitor-Project-Updated
	url = https://github.com/Emad2018/CppND-System-Monitor-Project-Updated.git
[submodule "UdacityProjects/CppND-Memory-Management-Chatbot"]
	path = UdacityProjects/CppND-Memory-Management-Chatbot
	url = https://github.com/Emad2018/CppND-Memory-Management-Chatbot.git
[submodule "UdacityProjects/CppND-Program-a-Concurrent-Traffic-Simulation"]
	path = UdacityProjects/CppND-Program-a-Concurrent-Traffic-Simulation
	url = https://github.com/Emad2018/CppND-Program-a-Concurrent-Traffic-Simulation
